{% extends "base.html" %}

{% block head %}
<style>
   body {
      box-sizing: border-box;
      background-color: #e5f4fe;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-family: Arial, sans-serif;
   }
   h1 {
      padding: 10px;
      text-align: center;
   }
   .post-title {
      margin: 15px 0 0 0;
   }
   .blog-body {
      max-width: 800px;
      margin: 0 10px 10px 10px;
	   float: none !important;
   }
</style>
{% endblock %}

{% block page_content %}
<div class="blog-body">
    <h1>Blog Index</h1>
    <hr>
    {% for post in posts %}
        <h2 class="post-title"><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <p class="post-body">{{ post.body | slice:":400" }}</p>
    {% endfor %}
</div>
{% endblock %}
