{% extends "base.html" %}

{% load static %}

{% block page_content %}
<h1>About</h1>

<br>
<h3>#30projects30days Rules</h3>
<ol>
    <li>Create a project per day.</li>
    <li>A project could be an app, a component, a website, a game, a library, etc.</li>
    <li>Your choice of langauge and framework.</li>
    <li>The project must be done by 2:59AM</li>
    <li>If a day is missed, the project must be made up within the next 7 days. (I added this one. I have a day job which may need overtime.)</li>
{% endblock %}
