{% extends "base.html" %}

{% load static %}

{% block head %}
<style>
body {
    background-color: #121212;
}

.clock {
    color: #66ff99;
    font-size: 56px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
</style>
<script>
    var d,h,m,s,animate;

    function init(){
        d=new Date();
        h=d.getHours();
        m=d.getMinutes();
        s=d.getSeconds();
        clock();
    };

    function clock(){
        s++;
        if(s==60){
            s=0;
            m++;
            if(m==60){
                m=0;
                h++;
                if(h==24){
                    h=0;
                }
            }
        }
        $('sec',s);
        $('min',m);
        $('hr',h);
        animate=setTimeout(clock,1000);
    };

    function $(id,val){
        if(val<10){
            val='0'+val;
        }
        document.getElementById(id).innerHTML=val;
    };

    window.onload=init;
</script>
{% endblock %}

{% block page_content %}
Hello!
<div class="clock">
    <span id="hr">00</span>
    <span> : </span>
    <span id="min">00</span>
    <span> : </span>
    <span id="sec">00</span>
</div>
{% endblock %}
