<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/create_csv.css' %}" />
      <title>Create CSV File</title>
   </head>
   <body>
      <h1>Create CSV File Demo</h1>
      <p>Create a CSV file from Google Sheets data! Example data:</p>
      <img src="{% static 'img/example_data.png' %}"></img>
   <div class="output"></div>
   <button class="button">Download CSV File</button>
      <script src="{% static 'js/create_csv.js' %}"></script>
   </body>
</html>
