<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/speak_number.css' %}" />
      <style>
      body {
         background: #2f3542 url("{% static 'img/speak_number_bg.jpg' %}") no-repeat left center/cover;
      }
      </style>
      <title>Speak Number Guessing Game</title>
   </head>
   <body>
      <img src="{% static 'img/mic.png'%}" alt="Speak" />

      <h1>Guess a Number Between 1 - 100</h1>

      <h3>Speak the number into your microphone</h3>

      <div id="msg" class="msg">
      </div>

   <script src="{% static 'js/speak_number.js' %}"></script>
   </body>
</html>
