.hide {
   display: none;
}
.game {
   width: 100vw;
   height: 100vw;
}
.gameArea {
   background-color: skyblue;
   width: 100%;
   height: 100%;
   margin: 0;
}
.score {
   position: absolute;
   z-index: 100;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   height: 50px;
   font-size: 1.5em;
   font-family: Arial, sans-serif;
}
.startScreen {
   position: absolute;
   background-color: red;
   left: 25%;
   top: 100px;
   color:white;
   width: 50%;
   padding: 15px;
   border: 1px solid black;
   text-align: center;
   cursor: pointer;
   border-radius: 30px;
   font-family: Arial, sans-serif;
   font-size: 1.5em;
}

.bird {
   position: absolute;
   top: 100px;
   bottom: 100px;
   left: 50px;
   width: 50px;
   height: 40px;
   line-height: 40px;
   font-size: 1.5em;
   background-image: url("/static/img/bird.bb746a7d6d6f.png");
   background-size: cover;
}

.wing {
   position: absolute;
   top: 10px;
   left: 0;
   background-color: gold;
   width: 25px;
   height: 12px;
   border-radius: 5px;
}

.gameMessage {
   position: absolute;
   top: 10%;
   text-align:center;
   left: 20%;
   width: 60%;
   background-color: aliceblue;
   font-size: 2em;
   font-family: Arial, sans-serif;
   cursor: pointer;
}

.pipe {
   width: 100px;
   position: absolute;
   text-align: center;
   font-family: Arial, sans-serif;
}
